<%= turbo_frame_tag "game_state" do %>
  <% if game.winner == :draw %>
    <h1 class="text-center text-gray-500">
      IT'S A DRAW!
    </h1>
  <% end %>

  <% if game.winner?(current_player) %>
    <h1 class="text-center text-purple-500">
      YOU WIN!
    </h1>
    <p class="text-center text-gray-800">
      <%= game.display_result %>
    </p>
  <% end %>

  <% if game.winner?(challenger) %>
    <h1 class="text-center text-blue-500">
      YOU LOSE!
    </h1>
    <p class="text-center text-gray-800">
      <%= game.display_result %>
    </p>
  <% end %>


  <!-- current player -->
  <div class="flex items-center ml-4 mr-4 p-2 <%= game.winner?(current_player) && "bg-gradient-to-l from-yellow-50 to-yellow-200" %>">
    <div class="shrink-0 rounded-2xl border border-2 border-purple-500 bg-[url('/<%= game.avatar_for(current_player) %>')] bg-center bg-no-repeat bg-contain w-24 h-24"></div>
    <p class="text-gray-500 p-4">
      <% if game.current_state == :awaiting_opponent && !game.host?(current_player) %>
        <div class="max-w-40 text-pretty rounded-lg text-center bg-gray-100 m-4 p-4 border text-blue-500">
          <%= link_to "Join", "/games/#{game.id}/join", data: { turbo_method: :post } %>
        </div>

      <% else %>
        <%= current_player %>
        <span class="text-purple-500">
          (you)
        </span>
      <% end %>

      <% if game.choice_for(current_player).present? %>
        <br />

        <span class="text-purple-500">
          <em>
            <%= game.choice_for(current_player) %>
          </em>
        </span>
      <% end %>
    </p>
  </div>

  <!-- opponent -->
  <div class="flex items-center ml-4 mr-4 mt-4 p-2 mb-4 <%= game.winner?(challenger) && "bg-gradient-to-l from-yellow-50 to-yellow-200" %>">
    <p class="text-gray-500 p-4">
      <%= challenger || "waiting for opponent..." %>

        <br />

        <span class="text-blue-500">
          <em>
            <% if game.winner %>
              chose <%= game.choice_for(challenger) %>
            <% end %>

            <% if !game.winner && game.choice_for(challenger).present? %>
              move chosen!
            <% end %>
          </em>
        </span>
    </p>
    <div class="shrink-0 rounded-2xl border border-2 border-blue-500 bg-[url('/<%= game.avatar_for(challenger) %>')] bg-center bg-no-repeat bg-contain w-24 h-24"></div>
  </div>

  <% case game.current_state %>
  <% when :awaiting_choices %>
    <% if game.current_state == :awaiting_choices && game.choice_for(current_player).blank? %>
      <p class="text-gray-500 text-center">make your move:</p>
      <div class="flex justify-center">
        <div class="rounded-lg bg-purple-200 p-1 m-1">
          <%= link_to "charge!", "/games/#{game.id}/choose?choice=charge", data: { turbo_method: :post } %>
        </div>

        <div class="rounded-lg bg-blue-200 p-1 m-1">
          <%= link_to "submerge!", "/games/#{game.id}/choose?choice=submerge", data: { turbo_method: :post } %>
        </div>

        <div class="rounded-lg bg-orange-200 p-1 m-1">
          <%= link_to "chomp!", "/games/#{game.id}/choose?choice=chomp", data: { turbo_method: :post } %>
        </div>
      </div>
    <% end %>

    <% if game.current_state == :awaiting_choices && game.choice_for(current_player).present? %>
      <p class="text-gray-500 text-center">waiting for your opponent to make their move...</p>
    <% end %>
  <% when :game_over %>
    <div class="rounded-lg bg-gray-100 m-4 p-4 border text-center text-blue-500">
      <%= link_to "rematch", "/games/#{game.id}/rematch", data: { turbo_method: :post, turbo_frame: "_top" } %>
    </div>
    <div class="rounded-lg bg-gray-100 m-4 p-4 border text-center text-purple-500">
      <%= link_to "new game", Game.new, data: { turbo_method: :post, turbo_frame: "_top" } %>
    </div>
  <% end %>
<% end %>
