<!DOCTYPE html>
<html>
  <head>
    <title>hippo vs hippo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <hr>

    <p class="text-center text-sm mt-4">
      made with 🦛 by <%= link_to "mctaylorpants", "https://github.com/mctaylorpants/hippo-vs-hippo", class: "text-blue-500" %>
    </p>
    <p class="text-center text-sm mt-4">
      hippo art from <%= link_to "vecteezy", "https://www.vecteezy.com/members/tigatelu", class: "text-blue-500" %>
    </p>
  </body>
</html>
